
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="../signalr/hubs"></script>*@

<div id="data">

</div>

<script>
  $(document).ready(function () {
    //var hub = $.connection.portalHub;

    //hub.client.update = function(data)
    //{
    //  $('#data').append(data.message + '<br/>');
    //  console.log(data);
    //}

    //$.connection.portalHub.client.connected = function () { }
    //$.connection.hub.start().done(function () { });
  });
</script>